body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-weight:400;
    color:grey;
  }
  
  .one, .two, .three{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  
  .one{
    background-image:url('https://images.unsplash.com/photo-1520503922584-590e8f7a90d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
    min-height:100%;
  }
  
  .two{
    background-image:url('https://images.unsplash.com/photo-1490031507778-36dc27c9ce5e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    min-height:400px;
  }
  
  .three{
    background-image:url('https://images.unsplash.com/photo-1484694120424-e75b0867523f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
    min-height:400px;
  }

  
  .firstSection{
    text-align:center;
    padding:40px ;
    background-color:white;
    color:rgb(41, 51, 94);
  }
  
  .secondSection{
    text-align:center;
    padding:40px ;
    background-color:rgb(57, 64, 68);
    color:rgb(255, 255, 255);
  }
  
  .content{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: grey;
    font: size 25px;
  }
  
  .content .border{
    background-color:rgb(31, 31, 31);
    color:white;
    padding:20px;
  }
  
  .content .border.trans{
    background-color:transparent;
  }

  